@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top left, #eae4e9,#cddafd);
}
h2{
    color: rgb(0, 0, 0);
    
}
h2,p{
    text-align: center;
}
header>p{
    
    color: #898d8e;
}
.outer-box{
    z-index: 1;
    border: 1px solid black;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff09;
    position: relative;
    top:20%;
    border-radius: 7px;
    box-shadow: 10px 10px 8px #cddafd;
    backdrop-filter: blur(10px)
}
input{
    border-radius:8px ;
    width: 100%;
    padding: 5px;
    font-size: medium;
    border: transparent;
}
form>div{
    margin: 10px ;
}

form input[type="submit"]{
    background: #0099FF;
    color: #ecf3f7;
}
input,a:hover{
    cursor: pointer;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to bottom right, #eae4e9,#aabef7)
}
.c1{
    top: 50px;
    right:500px;
    z-index: -0.9;    
}
.c2{
    bottom: 150px;
    left: 50px;
}
footer{
    margin: 15px auto;
}
a{
    text-decoration: none;
}